.smallCard_wrapper {
  width: 100%;
  padding: 50px 60px;
}

.smallCard {
  text-decoration: none;
  outline: 5px solid #bd6e39;
  padding: 60px 80px;
  transition: all 0.5s;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.smallCard:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(101, 100, 100);
  background: linear-gradient(
    90deg,
    rgba(101, 100, 100, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  top: 0;
  left: 100%;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

.smallCard:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

.smallCard:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(101, 100, 100);
  background: linear-gradient(
    90deg,
    rgba(101, 100, 100, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  top: 0;
  left: 0;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

.smallCard:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.smallCard div {
  position: absolute;
  color: #fff;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallCard h3 {
  color: #bd6e39;
  margin-bottom: 20px;
}

.smallCard p {
  color: #f0f0f0;
  max-width: 70%;
}

.btn {
  margin-top: 170px;
}

/* media queries */

@media screen and (max-width: 576px) {
  .smallCard {
    height: 400px;
  }
  .btn {
    margin-top: 250px;
  }
}

@media screen and (max-width: 576px) {
  .smallCard {
    height: 440px;
  }
  .btn {
    margin-top: 300px;
  }
}
