.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  text-align: center;
}

.error_page img {
  width: 450px;
  height: auto;
}

.error_page .link {
   background-image: linear-gradient(to right,#d0e9ee , #0b85bc);
   color: #000;
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
