.footer {
  width: 100%;
  background: rgb(101, 100, 100);
  background: linear-gradient(
    90deg,
    rgba(101, 100, 100, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 0px 40px;
  position: relative;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0px 50px 0px;
  flex-wrap: wrap;
}

.link_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  color: #ffffff;
  padding: 50px 0px;
}

.link_inner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.link_inner_wrapper h4 {
  margin-left: 0px;
  padding-left: 0;
  font-weight: 500;
  margin-bottom: 20px;
  color: #bd6e39;
}

.link_inner_wrapper p {
  max-width: 250px;
  margin-top: 30px;
  margin-left: 0;
}

.link_inner_wrapper .heading {
  margin-left: -32px;
}

.link_inner_wrapper input {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}

.link_inner_wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.link_inner_wrapper ul li:hover {
  color: #bd6e39;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  border: 2px solid #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  border: 2px solid #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  border: 2px solid #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  border: 2px solid #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  border: 2px solid #de463b;
  color: #ffffff;
}

.icon img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.footer .bottom_footer {
  text-align: center;
  border-top: 1px solid #707070;
  padding: 30px;
  color: #ffffff;
  font-size: 18px;
}

/* media queries */

@media screen and (max-width: 991px) {
  .link_wrapper{
    flex-direction: column;
    align-items: center;
  }
  .link_inner_wrapper{
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 724px) {
.heading{
  display: none;
}
}