* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.App {
  font-family: PoppinsMedium, sans-serif;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 26px;
}

p {
  font-size: 18px;
}

a{
  text-decoration: none;
}

li {
  font-size: 18px;
  list-style: none;
}

li:hover {
  cursor: pointer;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button 1 */
.action-button {
  position: relative;
  margin-top: 60px;
}

.action-button .action-button-bg {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-weight: bold;
  background: #bd6e39;
  border: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  width: 110px;
  border-radius: 5px;
  padding: 4px 6px;
  color: #ffffff;
}

.action-button button::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 60px;
  border: 5px solid #bd6e39;
  z-index: -1;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  transition: all ease 1s;
}

.action-button .action-button-bg:hover::before {
  width: 130%;
}

/* media screens */

@media screen and (max-width: 640px) {
  h3 {
    font-size: 36px;
  }
}
